#button {
  background-color: dark grey;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  border: 5px solid black;
  color: black;
}

#button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

#title {
  text-align: center;
}

.everything {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}